fieldset {
  border: 0;
  padding: 0;
}
legend {
  padding: 0;
  margin-bottom: $base--spacing;
}
label {
  display: block;
}
.label--inline {
  display: inline;
}
.label--required {
  &:after {
    content: "*";
    color: red;
  }
}
.label--radio {
  margin-bottom: 0;
  input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
.label--checkbox {
  margin-bottom: 0;
  input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

input[type="submit"] {
  display: block;
  background: #033;
  color: #eee;
  border: 0;
  border-radius: 0;
  padding: 10px;
  @include transition(background .3s);
  &:focus, &:hover {
    background: lighten(#033, 10%);
  }
}

select {
  margin-bottom: $base--spacing;
  cursor: pointer;
  z-index: 1;
}
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid $base--border;
  background: #fff;
  padding: 5px;
  max-width: 400px;
  width: 100%;
  &:focus {
    border-color: darken($base--border, 10%);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0, 0.075),0 0 8px rgba($base--border, 0.6);
  }
  @include input-placeholder {
    color: rgba(#000, 0.5);
  }
}
textarea {
  height: 130px;
}