// html, body {
// 	background: #eee;
// }
a {
  color: #336767;
  // font-family: 'PlutoSansMedium', sans-serif;
  &:hover, &:focus {
  	text-decoration: none;
  }
}
/* responsive images */
img {
	height: auto;
	max-width: 100%;
  border: 1px solid $base--color;
}
.img--no-border {
  border: 0;
}
img[src*=".svg"] {
	max-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $secondary--font-family;
  font-weight: normal;
}
.centered {
	text-align: center;
}
.hidden {
  display: none;
}