// Typography
//
// Basic typography
//
// Styleguide 6.0.0
p, ul, ol, blockquote, input, textarea, fieldset, button, pre, table, hr, dl {
  margin: 0 0 $base--spacing;
  @include font-size(16px);
}

// Headings
//
// Heading Sizes
//
// Markup:
// <h1>Heading 1</h1>
// <h2>Heading 2</h2>
// <h3>Heading 3</h3>
// <h4>Heading 4</h4>
// <h5>Heading 5</h5>
// <h6>Heading 6</h6>
//
// Styleguide 6.1.0
h1, h2, h3, h4, h5, h6 {
  @include font-weight(normal);
}

hr {
  border: 0;
  border-bottom: 1px solid $base--border;
  margin-top: -1px;
}

.single-spaced {
  margin-bottom: 0;
}

.one-half-spaced {
  margin-bottom: $base--spacing / 2;
}

.double-spaced {
  margin-bottom: $base--spacing;
}

.small, small {
  @include font-size($font-size--small);
}

.display-font {
  font-family: $secondary--font-family;
}
