/***********************
Variables
***********************/

/**
  * Booleans
  */

$border-box: true;

/**
  * Colors
  */

// $testcolor: #ff0;

/**
  * Base Styles
  */

$base--color: #555;

$base--border: $base--color;

$base--font-family: 'Open Sans', sans-serif;
$secondary--font-family: 'PlutoSansLight', sans-serif;

//set "bold" and "normal" weights here and use @include font-weight() mixin instead of font-weight.
$font-weight__normal: 400;
$font-weight__bold: 700;

$base--font-size: 16px;
$base--line-height: 1.6;
// Don't change $base--spacing. It will mess up the vertical rhythm.
// http://coding.smashingmagazine.com/2011/03/14/technical-web-typography-guidelines-and-techniques/
$base--spacing: $base--font-size * $base--line-height;

/**
  * Headings
  */

$font-size--h1: 42px;
$font-size--h2: 50px;
$font-size--h3: 23px;
$font-size--h4: 20px;
$font-size--h5: 22px;
$font-size--h6: 14px;

/**
  * Other Sizes
  */

$font-size--hero: 24px;
$font-size--small: 10px;

/**
  * Dropdowns
  */

$dropdown__width: 700px;
//if your boxes have borders or padding;
$dropdown__width--offset: $dropdown__width - 2;

$legacy_support_for_ie: false;
